/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
/*
 card container set in home  
 */
.cardcontainer {
  float: center;
  width: 15%;
  height: 80%;
  padding: 10px 10px;
  margin: 5px;
  margin: 0 auto; /* Added */
  margin-bottom: 10px; /* Added */
  background-color: rgba(255, 255, 255, 0.6);
  image-orientation: center;
}
.card {
  float: center;
  width: 15%;
  height: 80%;
  padding: 10px 10px;
  margin: 5px;
  margin: 0 auto; /* Added */
  margin-bottom: 10px; /* Added */
  background-color: rgba(255, 255, 255, 0.6);
}
/*
 navbar container set in navbar  
 */
/*.navbar {
  float: center;
  width: 100%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.6);
}
/*
 navbar container set in navbar  
 */

.body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/682/439/771/beach-brazil-copacabana-rio-de-janeiro-wallpaper-preview.jpg");
  height: 100%;
  margin: 0;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Bigtext {
  font-size: 30px;
  float: left;
}

.login{
  font-weight: bold;
  outline: 50px;
}

.navbar{
  
}